.tweet-container {
    display: flex;
    flex-direction: row;
    border: solid 1px grey;
    border-radius: 10px;
    width: 450px;
    height: 100px;
    padding: 10px;
    margin: 10px 0;
}
.icon-container {
    margin-right: 10px;
}
.content-container {
    display: flex;
    flex-direction: column;
    width: 400px;
}
.content-container h2 {
    margin: 0 0 5px;
}
.content-container p {
    margin: 0;
}
.user-icon {
    width: 50px;
}
.circle {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: white;
  border: solid 1px gray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}